$background-header: #27272a;
$background-nav: #27272a;
$background-main: #202124;

$border-color: #444141;
$background-buttons-table-hover: #414144;
$background-table-line: #c6c6c6;

$main-text-color: #a1a1aa;
$secondary-text-color: #ffffff;
$text-input-active: #71717a;

$roboto: "Roboto", sans-serif;
