@import "../../../sass/variables.scss";

.wrapper {
  .buttons {
    padding: 16px 9px;
  }

  .input {
    width: 100%;
    font-size: 14px;
    font-family: $roboto;
    font-weight: 400;
    color: $text-input-active;
    resize: none;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
    height: 36px;
    min-height: 36px;

    border-radius: 6px;
    border: 1px solid $border-color;
    background: rgba(0, 0, 0, 0);
  }

  &:hover {
    background-color: $background-header;
  }
}
